<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bsautermeister.geofencer">

    <!-- GEO Location Integration and WIFI Scan -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Listen for the device starting up for re-registration tasks -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />

        <receiver
            android:name=".geo.PlayTransitionReceiver"
            android:exported="false" />
        <receiver
            android:name=".geo.GeoRestartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" /> <!-- android.intent.action.LOCKED_BOOT_COMPLETED would be triggered earlier, in case we don't need access to credential secure storage -->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".geo.TimedGPSFixReceiver" />

        <receiver
            android:name=".geo.PathSenseTransitionReceiver" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api_key"/>

        <meta-data
            android:name="com.pathsense.android.sdk.CLIENT_ID"
            android:value="pKABki667ZptnuQ7W01KsWYBOPa2tGcj8d8ie93W" />
        <meta-data
            android:name="com.pathsense.android.sdk.API_KEY"
            android:value="ZVovM7QcHQ8BVMtpO1VeH5xMjoRmY1W38ZS4x5d7" />
    </application>

</manifest>